<form action="checkout2" method="post">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_DfoKFBIrAGKhxBbDgP0G954e"
    data-amount="<%= total %>"
    data-name="LumberMill"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="jpy">
  </script>
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
</form>
