<%- model_class = Message -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table">
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.name+" "+user.id.to_s+"", messages_path(sender_id: user.id)  %></td>
</tr>
<% end %>
</table>
