<div class="page-header">
<h1>360 Base</h1>
</div>
<p>360で販売している商品の受発注サイトです。
  の際に、
  担当ディストリビュータのIDが必要です。予めご確認の上、お手続きください。 </p>

<% if user_signed_in? %>
  <%= link_to '<span class="fa fa-home"></span> '.html_safe+t('Dashboard'), pages_dashboard_path, class: "btn btn-success" %>
<% else %>
  <%= link_to '<span class="fa fa-sign-in"></span> '.html_safe+t('Sign in'), new_user_session_path, class: "btn btn-success" %>
<% end %>
<%= link_to '<span class="fa fa-edit"></span> '.html_safe+t("Sign up"), new_user_registration_path, class: "btn btn-primary" %>
