<div class="page-header">
<h1>360 Base</h1>
</div>
<p>360で販売している商品の受注サイトです。利用にはユーザ登録が必要です。</p>

<% if user_signed_in? %>
  <%= link_to t('Dashboard'), pages_dashboard_path, class: "btn btn-success" %>
<% else %>
  <%= link_to t('Sign in'), new_user_session_path, class: "btn btn-success" %>
<% end %>
